@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    overflow: scroll; /* 스크롤 기능을 유지 */
    background-color: #f5f5f5;
    text-overflow: ellipsis;
}
  
/* 포커스 시 테두리 및 그림자 색상 변경 */
input[type="text"]:focus, textarea:focus {
    border-color: #f5f5f5 !important;
    outline: none; /* 기본 아웃라인 제거 */
}

::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera에서 스크롤바 숨기기 */
}

h4{
    text-align: center;
    font-weight: bolder;
}

img{
    width: 50px;
    height: 50px;
    margin-left: 48.5%;
    margin-top: 8%;
    margin-bottom: 1%;
}

.form-container {
    white-space: nowrap;
    max-width: 700px;
    margin: 50px auto;
    padding: 60px 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

strong{
    margin-top: 8px;
}

small{
    position: absolute;
    top: 100%;
    font-size: x-small;
    color: #2856FF;
}

.item{
    display: flex;
}

h6 {
    font-weight: bolder;
    margin-bottom: 10px;
    color: #0136DE;
}

hr {
    margin-bottom: 20px;
}

.form-control {
    cursor: pointer;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: -10%;
}

#snum, #name{
    width: 100%;
    height: 40px;
} 

#dnum{
    width: 13.5%;
    height: 40px;
    position: absolute;
    top: 63%;
    left: 49.5%;
} 

#dtext{
    position: absolute;
    top: 63%;
}

#pnum{
    width: 31%;
    height: 40px;  
}

#moap{
    width: 130%;
    height: 300px;
}

input[type=radio]{
    appearance: none;
    border-radius: 50%;
    border: 1px solid #ccc;
    width: 15px;
    height: 15px;
    background-color: #eeeeee;
    cursor: pointer;
}

input[type='radio']:checked {
    background-color: #fff;
    border: 4px solid #6186ff;
    box-shadow: 0 0 0 1px #6186ff;
  }
  

.radio-group {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

button{
    cursor: pointer;
    position: relative;
    left: 58%;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    margin-bottom: 40px;
}